{
  /* The main configuration file.
   */
  * = {
    /* Common section for any/all hosts
     */
    * = {
    };
    Feep = {
      /* Section for the process Feep on any/all hosts.
       */
    };
    Foo = {
      /* Section for the process Foo on any/all hosts.
       */
    };
  };
  localhost = {
    /* Section for the host named localhost
     */
    * = {
      /* Common section for any/all processses on localhost.
       */
    };
    Bar = {
      /* Section for process Bar on localhost
       */
    };
    Foo = {
      /* Section for process Foo on localhost
       */
    };
    Command = {
      /* Section for Command server on localhost
       */
      Launch = {
	Foo = {
	  Prog = "/usr/GNUstep/Local/Tools/Foo";	// Full path to binary
	  Home = "~xxx/Test";				// Directory to run in
	  Args = ("-Debug", "YES");			// Args to launch with
	  Auto = NO;					// Auto-launch?
          KeepStandardInput = YES;                      // Don't close stdin
          KeepStandardOutput = YES;                     // Don't close stdout
          KeepStandardError = YES;                      // Don't close stderr
	};
	Bar = {
	  Prog = "Bar";                         	// RName of binary
	  Home = "~xxx/Test";				// Directory to run in
	  Args = ("-Debug", "YES");			// Args to launch with
	  Auto = YES;					// Auto-launch?
	};
	Feep = {
	  Prog = "Feep";                         	// RName of binary
	  Home = "~xxx/Test";				// Directory to run in
	  Auto = YES;					// Auto-launch?
	};
      };
      /* Specify launch order ... Feep first, Bar second
       * Processes not listed here are launched in lexicographical order
       * after any processes which are listed.
       */
      LaunchOrder = (
        Feep,                                   // Launch Feep first
        Bar                                     // Launch Bar second
      );
    };
  };
  /* Section specific for the Control server itself.
   */
  "" = {
  };
}
