{
  /* The main configuration file.
   */
  * = {
    /* Common section for any/all hosts
     */
    * = {
    };
    Feep = {
      /* Section for the process Feep on any/all hosts.
       */
    };
    Foo = {
      /* Section for the process Foo on any/all hosts.
       */
    };
  };
  localhost = {
    /* Section for the host named localhost
     */
    * = {
      /* Common section for any/all processses on localhost.
       */
    };
    Bar = {
      /* Section for process Bar on localhost
       */
    };
    Foo = {
      /* Section for process Foo on localhost
       */
    };
    Command = {
      /* Section for Command server on localhost
       * The 'Launch' dictionary specifies what programs may be launched.
       */
      Launch = {
        /* Specifications of how to launch individual programs:
         *
         * Disabled = (boolean) Whether this program can be launched
         * Prog = (string)      The name (or full path) of the executable
         * Home = (string)      The directory the program is started up in
         * Args = (array)       The arguments supplied to the program
         * Auto = (boolean)     Whether the program is started automatically
         * Time = (integer)     How many seconds after a crash until the
         *                      automatic restart (defaults to 0; fast)
         * AddE = (dictionary)  key/value pairs added to the environment
         * SetE = (dictionary)  key/value pairs to be used as environment
         * Deps = (array)       Names of other processes needed by this one
         * KeepStandardInput = (boolean)     Don't close stdin
         * KeepStandardOutput = (boolean)    Don't close stdout
         * KeepStandardError = (boolean)     Don't close stderr
         */
	Foo = {
	  Prog = "/usr/GNUstep/Local/Tools/Foo";	// Full path to binary
	  Home = "~xxx/Test";				// Directory to run in
	  Args = ("-Debug", "YES");			// Args to launch with
	  Auto = NO;					// Auto-launch?
          KeepStandardInput = YES;                      // Don't close stdin
          KeepStandardOutput = YES;                     // Don't close stdout
          KeepStandardError = YES;                      // Don't close stderr
	};
	Bar = {
	  Prog = "Bar";                         	// RName of binary
	  Home = "~xxx/Test";				// Directory to run in
	  Args = ("-Debug", "YES");			// Args to launch with
	  Auto = YES;					// Auto-launch?
          Deps = (Foo);                                 // Only if Foo is running
	};
	Feep = {
	  Prog = "Feep";                         	// RName of binary
	  Home = "~xxx/Test";				// Directory to run in
	  Auto = YES;					// Auto-launch?
          Time = 30;            // Interval for relaunching after crash
	};
      };
      /* Specify launch order ... Feep first, Bar second
       * Processes not listed here are launched in lexicographical order
       * after any processes which are listed.
       */
      LaunchOrder = (
        Feep,                                   // Launch Feep first
        Bar                                     // Launch Bar second
      );
      /* Specify how many tasks the Command server may have launching
       * concurrently (default is 20).  You may want to set this to a
       * lower value in order to reduce load when the system start up.
       */
      LaunchLimit = 20;
      /* Specify whether, when the Command server starts, launching of
       * tasks should be suspeneded (as if the 'suspend' command had been
       * sent to it from the Console).
       * By default this is NO.
       */
      LaunchStartSuspended = NO;
    };
  };
  /* Section specific for the Control server itself.
   */
  "" = {
  };
}
