{
  /* This file configures the names/passwords of the people allowed to use
   * the Console program to control the system.
   * Just add a definition for yourself as below:
   */
  richard = {
    Password = richard;
  };

  /* If the entry with no name exists, it will be used to allow login for
   * any username which doesn't exist in this file.
   */
  "" = {
    Password = password;
  };

  /* If Password is omitted or is empty, then any password is accepted
   * to allow the user to log in.
   */
  guest = {
    Password = "";
  };
}
